/* Dark mode colors. */
:root {
	--sl-color-accent-low: #242424;
	--sl-color-accent: #6a6a6a;
	--sl-color-accent-high: #c8c8c8;
	--sl-color-white: #ffffff;
	--sl-color-gray-1: #eeeeee;
	--sl-color-gray-2: #c8c8c8;
	--sl-color-gray-3: #a4a4a4;
	--sl-color-gray-4: #585858;
	--sl-color-gray-5: #383838;
	--sl-color-gray-6: #272727;
	--sl-color-black: #181818;
}
/* Light mode colors. */
:root[data-theme='light'] {
	--sl-color-accent-low: #d7d7d7;
	--sl-color-accent: #4e4e4e;
	--sl-color-accent-high: #323232;
	--sl-color-white: #181818;
	--sl-color-gray-1: #272727;
	--sl-color-gray-2: #383838;
	--sl-color-gray-3: #585858;
	--sl-color-gray-4: #8b8b8b;
	--sl-color-gray-5: #c2c2c2;
	--sl-color-gray-6: #eeeeee;
	--sl-color-gray-7: #f6f6f6;
	--sl-color-black: #ffffff;
}

:root{
    --sl-color-gray-6: var(--sl-color-black);
	.bg-grid {
		background-size: 100px 100px;
		z-index: -2;
		background-image: url(../assets/bg-grid.png);
		background-position-y: -9px;
		-webkit-mask-image: linear-gradient(to bottom, transparent, 10%, white, 90%, transparent);
		mask-image: linear-gradient(to bottom, transparent, 10%, white, 90%, transparent);
	}
	.grid-container{
		row-gap: 10rem;
        padding-bottom: 10rem;
		padding-top: 10rem;
	}
}